<p style="color: green"><%= notice %></p>

<h1><%= @cat.name %></h1>
<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
              <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">nouveau et dans les tendances</button>
          <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">le plus populaiore</button>

                        </div>
</nav>
<div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">...</div>
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">...</div>

</div>
<div id="div1">
<div class="class1">
<%@cat.somecats.each do |hey|%>
  <%=label_tag "checkbox"+hey.id.to_s, hey.name do%>
    <%=hey.name%>
  <%=check_box_tag 'heycat', hey.id, false, id:"checkbox"+hey.id.to_s%>
<%end%>

<%end%>
</div>
<div class="class2">
</div>
</div>


<div>
  <%= link_to "Edit this cat", edit_cat_path(@cat) %> |
  <%= link_to "Back to cats", cats_path %>

  <%= button_to "Destroy this cat", @cat, method: :delete %>
</div>
